<html>
<head>
</head>
<body>
<div class="container">
    <h2>Please Confirm</h2>

    <p>
        Do you authorize "${authorizationRequest.clientId}" at "${authorizationRequest.redirectUri}" to access your
        protected resources
        with scope ${authorizationRequest.scope?join(", ")}.
    </p>
    <form action="../oauth/authorize" id="confirmationForm"
          method="post" name="confirmationForm">
        <input name="user_oauth_approval" type="hidden" value="true"/>
        <input id="csrf_token" name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        <button class="btn btn-primary" type="submit">Approve</button>
    </form>
    <form action="../oauth/authorize" id="denyForm"
          method="post" name="confirmationForm">
        <input name="user_oauth_approval" type="hidden" value="false"/>
        <input id="csrf_token" name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        <button class="btn btn-primary" type="submit">Deny</button>
    </form>
</div>
</body>
</html>
